/* 
    Created on : 21/12/2016, 02:55:17 م
    Author     : Mustafa
*/

html,body,h1,h2,h3,h4,h5,h6 
{
    font-family: "my-font", sans-serif;
}

@font-face{
    font-family: my-font;
    src:url(../fonts/Montserrat-Regular.ttf);
}
